<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="laser" params="name x y z yaw">

        <link name="${name}_laser_link">
            <visual>
                <geometry>
                    <mesh filename="package://robot_description/meshes/laser_v2.stl" scale="0.75 0.75 0.75" />
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <material name="blue">
                    <color rgba="0 0 0.8 1"/>
                </material>
            </visual>
            <collision>
                <geometry>
                    <mesh filename="package://robot_description/meshes/laser_v2.stl" scale="0.75 0.75 0.75" />
                </geometry>
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </collision>
            <inertial>
                <mass value="1"/>
                <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
            </inertial>
        </link>
        <joint name="base_${name}_laser_joint" type="fixed">
            <parent link="base_link"/>
            <child link="${name}_laser_link"/>
            <origin xyz="${x} ${y} ${z}" rpy="0 0 ${yaw}"/>
        </joint>

    </xacro:macro>
</robot>