<?xml version="1.0"?>
<launch>

    <!-- RVIZ CONFIG -->
    <arg name="rviz_config_file" default="$(find robot_description)/rviz/spawn-robot.rviz"/>

    <!-- SPAWN THE ROBOT -->
    <param name="robot_description" command="xacro '$(find robot_description)/urdf/v2/robot.xacro'" />

    <!-- JOINT AND STATE ROBOT PUBLISERS -->
    <include file="$(find robot_description)/launch/state-robot.launch" />

   <!-- START SICKS-->	  
   <include file="$(find robot_integrations)/src/launch/sick-lasers.launch" />

    <!-- IRA LASERS FUSION -->
    <!--include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch" /-->

    <!-- LASER ODOMETRY -->
    <!-- <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch" /> -->

    <!-- LASER FILTER -->
    <node name="front_laser_filter" pkg="robot_integrations" type="read_front_laser.py" output="screen"/>
    
    <!-- DATA IMU ESP32 -->
    <node name="imu_data" pkg="rosserial_python" type="serial_node.py" output= "screen">
        <param name="port" value="/dev/ttyACM0"/>  
        <param name="baud" value="57600"/>
        <!-- rosrun rosserial_python serial_node.py _port:=/dev/ttyACM0 _baud:=57600 -->
    </node>


    <!-- DATA ENCODER -->
    <node name="encoder_filtered" pkg="robot_integrations" type="EncoderSubscriber.py" output= "screen"/>


    <!-- ODOMETRY: IMU+ENCONDER -->
    <node name="odom_hybrid" pkg="robot_integrations" type="odom_imu2" output= "screen">
        <param name="alpha" value="0.0" />
        <param name="use_imu" value="true" />
    </node>

    <!-- Differential Controller -->
    <node name="robot_controller" pkg="robot_integrations" type="DifferentialRobotController.py" output="screen"/>


   <node name="points_controller" pkg="robot_navigation" type="manager_goals.py" output="screen"/>

   <include file="$(find robot_navigation)/launch/amcl_localization.launch" />

</launch>
