<?xml version="1.0"?>

<launch>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <param name="odom_frame_id" value="odom"/>
      <param name="odom_model_type" value="diff"/>
      <param name="base_frame_id" value="base_footprint"/>
      <param name="global_frame_id" value="map"/>
      <param name="transform_tolerance" value="0.2"/>
      <param name="min_particles" value="5.0"/>
      <param name="max_particles" value="20.0"/>

    </node>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

        <param name="base_global_planner" value="navfn/NavfnROS"/>
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>
        
        <rosparam file="$(find robot_navigation)/config/base_global_planner.yaml" command="load"/>
        <rosparam file="$(find robot_navigation)/config/teb_local_planner.yaml" command="load"/>

        <!-- observation sources located in costmap_common.yaml -->
        <rosparam file="$(find robot_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find robot_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />

        <!-- local costmap, needs size -->
        <rosparam file="$(find robot_navigation)/config/local_costmap_params.yaml" command="load" ns="local_costmap" />
        <param name="local_costmap/width" value="10.0"/>
        <param name="local_costmap/height" value="10.0"/>

        <!-- static global costmap, static map provides size -->
        <rosparam file="$(find robot_navigation)/config/global_costmap_params.yaml" command="load" ns="global_costmap"/>
    
  </node>

</launch>