<?xml version="1.0"?>
<launch>

	<node name="hector" pkg="hector_mapping" type="hector_mapping" output="screen">
		<param name="use_tf_scan_transformation" value="true" />
		<param name="use_tf_pose_start_estimate" value="false"/>
		<param name="map_resolution" value="0.010" />
		<param name="map_size" value="2048"/>
		<param name="scan_subscriber_queue_size" value="5" />
		<param name="scan_topic" value="scan" />
		<param name="tf_map_scanmatch_transform_frame_name" value="scanmatcher_frame" />
	</node>

</launch>
