<?xml version="1.0"?>
<launch>

    <!-- RVIZ CONFIG -->
    <arg name="rviz_config_file" default="$(find robot_description)/rviz/spawn-robot.rviz"/>

    <!-- SPAWN THE ROBOT -->
    <param name="robot_description" command="xacro '$(find robot_description)/urdf/v2/robot.xacro'" />

    <!-- JOINT AND STATE ROBOT PUBLISERS -->
    <include file="$(find robot_description)/launch/v2/state-robot.launch" />

   <!-- START SICKS-->	  
   <!-- <include file="$(find robot_integrations)/src/launch/sick-lasers.launch" /> -->

    <!-- START IMU -->
    <!-- <include file="$(find chip_imu_driver)/launch/example.launch" /> -->
	   
    <!-- IRA LASERS FUSION -->
    <!-- <include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch" /> -->

    <!-- LASER ODOMETRY -->
    <!-- <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch" /> -->

    <!-- <node name="encoder_odom" pkg="robot_integrations" type="encoder_to_encoder_odom.py" /> -->
    
    <!-- DATA IMU ESP32 -->
    <node name="imu_data" pkg="rosserial_python" type="serial_node.py" output= "screen">
        <param name="port" value="/dev/ttyUSB2"/>  
        <param name="baud" value="57600"/>
        <!-- rosrun rosserial_python serial_node.py _port:=/dev/ttyUSB2 _baud:=57600 -->
    </node>

    <!-- DATA ENCODER -->
    <!-- <node name="encoder_data" pkg="robot_integrations" type="encoder_read_to_vector.py"/> -->
    <node name="robot_controller" pkg="robot_integrations" type="EncoderPublisher.py" output= "screen"/>

    <!-- ODOMETRY: IMU+ENCONDER -->
    <node name="odom_hybrid" pkg="robot_integrations" type="odom_imu2" output= "screen">
        <param name="alpha" value="0.0" />
        <param name="use_imu" value="true" />
    </node>

    <!-- <node name="cmd_to_vel" pkg="robot_integrations" type="cmd_vel_to_rotation_wheel.py" /> -->

    <node name="robot_controller" pkg="robot_integrations" type="DifferentialRobotController.py" output= "screen"/>

    <!-- LOAD RVIZ -->
    <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config_file)" required="true" /-->

</launch>
